body{
    font-family: 'Poppins', sans-serif;
}

img {
    width: 100%;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

article{
    padding: 1em;

}

.box-shadow {
    padding: 10px;
    box-shadow: 5px 5px 10px #888888;
}

.Name {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Poppins', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover{
    background-color: #111;
}

.header {
    text-align: center;
}
