body{
    font-family: 'Poppins', sans-serif;
    padding: 0px;
    margin: 20px;
}

.header {
    text-align: center;
    width: 100%;
    padding: 20px;
    font-size: 40px;
}

img {
    width: 100%;
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

h1 {
    text-align: center;
}

article{
    padding: 8em;
    text-align: justify;

}

article p {
    font-size: 15px;
}

article h2 {
    font-size: 15px;
}

article {
    padding: 10px;
    box-shadow: 5px 5px 10px #888888;
}

.Name {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 80px;
}

ul {
    top: 0;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    font-family: 'Poppins', sans-serif;
}

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

ul.topnav li {
    float: left;
}

ul.topnav li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.topnav li a:hover {
    background-color: #111;
}


@media screen and (max-width: 600px){
    ul.topnav li {
        float: none;
    }
}

.button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    font-family: 'Poppins', sans-serif;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover{
    background-color: #555555;
    color: white;
    font-family: 'Poppins', sans-serif;
}


